/* This file will hold the main styles for your website. */


@green: #99cc33;

body {
	background-image: url('../images/background.png');
	font-family:Verdana,Geneva,sans-serif;
	font-size: 90%;
}

.region {
	margin-top: 10px;
	margin-bottom: 10px;
}

.zone-menu-wrapper {
	background-image: url('../images/menu-bg.png');
	background-repeat: repeat-x;
}

.block-block-5 {
	font-size: smaller;
		font-weight: normal;
		text-align: center;
}


.block-menu-block-1, .block-menu-block-2 {
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	li {
		list-style: none;
		display: inline;
		border-right: 2px solid @green;
		text-align: right;
		
		a {
			text-decoration: none;
			color: white;
			&:visited { color: white; }
			&:hover { color: @green; }
		}
			
	}
}

.block-menu-block-1 {
	padding-bottom: 10px;
}

.block-menu-block-2 li {
	border-right: 2px solid white;
}


.block-search input[type="text"] {
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-position: right center;
	width: 100%;
}
.block-search .form-actions {
	display:none;
}

.region-preface-first {
	border-color: #CCE4A7;
	border-width: 6px;
	border-style: solid;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari and Chrome */
	border-radius: 6px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

	-moz-box-shadow: 0 0 5px 5px #FFF;
	-webkit-box-shadow: 0 0 5px 5px#FFF;
	box-shadow: 0 0 5px 5px #FFF;

	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the box class */
}

.zone-footer,
.zone-branding {
	background-image: url('../images/swoosh.png');
}

.zone-branding {
	height: 88px;
}

.zone-footer-wrapper,
.zone-branding-wrapper,
.zone-menu-wrapper {
	background-color: #598BC7;
	color: white;
}

.region-footer-second .block {
	margin-top: 10px;
	margin-bottom: 10px;
}

.zone-copyright-wrapper {
	background-color: @green;
	font-size: .75em;
	text-align: center;
	margin-bottom: 0;
}

.zone-preface {
	position: relative;
	margin-top: -20px;
}

.view-ministry-areas {
	.views-row-first {
		margin-left: 0;
	}
	.views-row-last {
		margin-last: 0;
	}
}

#region-preface-second{
	position: absolute;
	z-index: 100;
	background-color: #598BC7;
	right: 0;
	top: 0;
	height: 472px;
	margin-right: 0;
	padding: 10px;
	background-image: url('../images/Wave-transparent.png');
}

#region-page-top {
	margin: 0px;
}
