/* line 13, ../sass/global.scss */
tr.even {
  background-color: transparent;
}

/* line 17, ../sass/global.scss */
#slideshow-nav {
  z-index: 120;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* line 24, ../sass/global.scss */
table {
  width: 100%;
}

/* line 29, ../sass/global.scss */
a:link {
  color: #336699;
}
/* line 30, ../sass/global.scss */
a:visited {
  color: #336699;
}
/* line 31, ../sass/global.scss */
a:hover {
  color: #99cc33;
}
/* line 32, ../sass/global.scss */
a:active {
  color: #336699;
}

/* line 35, ../sass/global.scss */
p {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* line 40, ../sass/global.scss */
b {
  font-weight: bolder;
}

/* line 44, ../sass/global.scss */
i {
  font-style: italic;
}

/* line 48, ../sass/global.scss */
h1 {
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 27px;
  line-height: 2.7rem;
  color: #6699cc;
}
/* line 54, ../sass/global.scss */
h1 a {
  text-decoration: none;
}

/* line 57, ../sass/global.scss */
h2 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 36px;
  line-height: 3.6rem;
  color: #336699;
}
/* line 63, ../sass/global.scss */
h2 a {
  text-decoration: none;
}

/* line 66, ../sass/global.scss */
h3 {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
  color: #336699;
}
/* line 72, ../sass/global.scss */
h3 a {
  text-decoration: none;
}

/*
http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
*/
/* line 78, ../sass/global.scss */
ol {
  counter-reset: li;
  margin-left: 0;
  padding-left: 0;
}

/* line 84, ../sass/global.scss */
ol > li {
  position: relative;
  margin: 0 0 6px 1rem;
  padding: 4px 8px;
  list-style: none;
}

/* line 91, ../sass/global.scss */
ol > li:before {
  content: counter(li) ".";
  counter-increment: li;
  position: absolute;
  color: #336699;
  left: -1rem;
  width: 1rem;
}

/* line 100, ../sass/global.scss */
.contextual-links {
  z-index: 1000;
}

/* line 104, ../sass/global.scss */
html {
  font-size: 62.5%;
  height: 100%;
}

/* line 109, ../sass/global.scss */
body {
  /*
  background-image: url('../images/204.jpg');
  */
  background-image: url("../images/bgoptions/2t.png");
  font-family: 'Open Sans',Verdana,Geneva,sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 17px;
  line-height: 1.7rem;
  color: #666666;
  height: 100%;
}

/* line 123, ../sass/global.scss */
.zone-menu-wrapper {
  font-weight: bold;
  background-image: url("../images/menu-bg.png");
  background-repeat: repeat-x;
}

/* line 129, ../sass/global.scss */
#region-slogan {
  position: relative;
}

/* line 133, ../sass/global.scss */
.block-block-5 {
  font-size: 13px;
  font-size: 1.3rem;
  text-align: center;
  line-height: 17px;
  line-height: 1.7 rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
}

/* line 146, ../sass/global.scss */
#region-menu, #region-search {
  padding-top: 10px;
}

/* line 150, ../sass/global.scss */
.region-menu-secondary {
  height: 32px;
}

/* line 155, ../sass/global.scss */
.block-menu-block-1 ul, .block-menu-block-2 ul {
  height: 30px;
}
/* line 158, ../sass/global.scss */
.block-menu-block-1 ul li, .block-menu-block-2 ul li {
  margin: 0;
  margin-left: -2px;
  height: 30px;
  padding: 0;
  list-style: none;
  float: left;
}
/* line 165, ../sass/global.scss */
.block-menu-block-1 ul li.last a, .block-menu-block-2 ul li.last a {
  border: none;
}
/* line 169, ../sass/global.scss */
.block-menu-block-1 ul li a, .block-menu-block-2 ul li a {
  display: block;
  float: left;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

/* line 182, ../sass/global.scss */
.block-menu-block-1 li.active-trail {
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  background-color: #99cc33;
}
/* line 186, ../sass/global.scss */
.block-menu-block-1 li a {
  border-right: 2px solid #99cc33;
}
/* line 188, ../sass/global.scss */
.block-menu-block-1 li a:hover {
  color: #99cc33;
}
/* line 191, ../sass/global.scss */
.block-menu-block-1 li a.active-trail {
  background-color: #99cc33;
}

/* line 196, ../sass/global.scss */
.block-menu-block-2 li {
  font-size: 10px;
  font-size: 1.0rem;
  font-weight: lighter;
}
/* line 200, ../sass/global.scss */
.block-menu-block-2 li a {
  border-right: 1px solid white;
}
/* line 202, ../sass/global.scss */
.block-menu-block-2 li a:hover {
  color: #003366;
}

/* line 209, ../sass/global.scss */
.block-search input[type="text"] {
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 100%;
}

/* line 215, ../sass/global.scss */
.block-search .form-actions {
  display: none;
}

/* line 221, ../sass/global.scss */
.zone-preface,
.region-preface-sm-left-inner,
.region-preface-long-right-inner {
  background-color: #598BC7;
  border-color: #CCE4A7;
  border-width: 6px;
  border-style: solid;
  -moz-border-radius: 6px;
  /* Firefox */
  -webkit-border-radius: 6px;
  /* Safari and Chrome */
  border-radius: 6px;
  /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */
  -moz-box-shadow: 0 0 2px 2px #FFF;
  -webkit-box-shadow: 0 0 2px 2px #FFF;
  box-shadow: 0 0 2px 2px #FFF;
  behavior: url(ie-css3.htc);
  /* This lets IE know to call the script on all elements which get the box class */
}

/* line 237, ../sass/global.scss */
.container-12 .grid-8.region-preface-second {
  margin: 0;
  width: 640px;
}

/* line 242, ../sass/global.scss */
.container-12 #region-preface-first {
  margin: 0;
  width: 320px;
}

/* line 249, ../sass/global.scss */
.zone-footer,
.zone-preface,
.zone-branding {
  background-image: url("../images/swoosh.png");
  background-repeat: no-repeat;
  color: white;
}

/* line 255, ../sass/global.scss */
.zone-branding {
  padding-top: 20px;
  height: 88px;
}

/* line 260, ../sass/global.scss */
#page {
  min-height: 100%;
  position: relative;
}

/* line 265, ../sass/global.scss */
#section-content {
  padding-bottom: 175px;
}

/* line 269, ../sass/global.scss */
footer {
  position: absolute;
  bottom: 0;
  height: 175px;
  width: 100%;
}

/* line 278, ../sass/global.scss */
.zone-footer-wrapper,
.zone-branding-wrapper,
.zone-menu-wrapper {
  background-color: #598BC7;
  color: white;
}

/* line 284, ../sass/global.scss */
.region-footer-first .block, .region-footer-second .block {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 290, ../sass/global.scss */
.zone-copyright-wrapper {
  background-color: #99cc33;
  font-size: .75rem;
  text-align: center;
  margin-bottom: 0;
}

/* line 298, ../sass/global.scss */
.section-content {
  margin-top: -5px;
}

/* line 302, ../sass/global.scss */
.view-ministry-areas .views-row-first {
  margin-left: 0;
}
/* line 305, ../sass/global.scss */
.view-ministry-areas .views-row-last {
  margin-last: 0;
}

/* line 311, ../sass/global.scss */
article.node-article,
article.node-second-level {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 314, ../sass/global.scss */
article.node-article h1,
article.node-second-level h1 {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
/* line 319, ../sass/global.scss */
article.node-article .content .field-name-body,
article.node-second-level .content .field-name-body {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 323, ../sass/global.scss */
article.node-article .content-view .field,
article.node-second-level .content-view .field {
  margin: 0px;
}
/* line 326, ../sass/global.scss */
article.node-article article,
article.node-second-level article {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 329, ../sass/global.scss */
article.node-article article h2, article.node-article article .field-name-body,
article.node-second-level article h2,
article.node-second-level article .field-name-body {
  margin-left: 100px;
}

/* line 335, ../sass/global.scss */
#region-preface-second {
  /*	position: absolute;
  	z-index: 100;
  	background-color: #598BC7;
  	right: 0;
  	top: 0;
  	height: 472px;
  	margin-right: 0;
  	padding: 10px;
  	background-image: url('../images/swoosh.png');
  	background-repeat: no-repeat;
  	background-position: right top;
  */
}

/* line 349, ../sass/global.scss */
#region-page-top {
  margin: 0px;
}

/* line 354, ../sass/global.scss */
.zone-content aside .block, .zone-content .region-content-inner {
  margin-bottom: 20px;
  border: 3px solid white;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #d7e7f2), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(left, #d7e7f2, #ffffff);
  background-image: -moz-linear-gradient(left, #d7e7f2, #ffffff);
  background-image: -o-linear-gradient(left, #d7e7f2, #ffffff);
  background-image: -ms-linear-gradient(left, #d7e7f2, #ffffff);
  background-image: linear-gradient(left, #d7e7f2, #ffffff);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 360, ../sass/global.scss */
.zone-content .region-content-inner ol {
  list-style: decimal outside;
  padding-left: 20px;
}
/* line 364, ../sass/global.scss */
.zone-content .region-content-inner ul {
  list-style: disc outside;
  padding-left: 20px;
}
/* line 371, ../sass/global.scss */
.zone-content .view-staff-bio .views-field-field-sq-image {
  float: left;
  padding-right: 10px;
}
/* line 375, ../sass/global.scss */
.zone-content .view-staff-bio .views-row {
  padding: 5px;
  overflow: hidden;
  *zoom: 1;
}
/* line 380, ../sass/global.scss */
.zone-content .block-inner, .zone-content .group-header, .zone-content .node-message-series h2 {
  padding: 0 10px 0 10px;
}
/* line 383, ../sass/global.scss */
.zone-content .group-header, .zone-content .node-message-series h2 {
  margin: 0 -10px 0 -10px;
}
/* line 386, ../sass/global.scss */
.zone-content .views-field-field-graphic, .zone-content .field-name-field-graphic {
  margin: 0 -10px 0 -10px;
}
/* line 387, ../sass/global.scss */
.zone-content .views-field-field-graphic img, .zone-content .field-name-field-graphic img {
  width: 100%;
  height: auto;
}
/* line 393, ../sass/global.scss */
.zone-content .group-left, .zone-content .group-right {
  max-width: 287px;
}

/* line 400, ../sass/global.scss */
.front .region-content-inner {
  background-image: none;
  border: none;
  padding: 0;
}
/* line 405, ../sass/global.scss */
.front .region-content-inner .views-row {
  float: left;
  width: 295px;
  height: 200px;
  margin: 0 10px 10px 0;
}

/* line 415, ../sass/global.scss */
.page-taxonomy-term .region-content-inner {
  background-image: none;
  border: none;
  padding: 0;
}
/* line 420, ../sass/global.scss */
.page-taxonomy-term .region-content-inner article {
  float: left;
  width: 295px;
  height: 200px;
  margin: 0 10px 10px 0;
}
/* line 426, ../sass/global.scss */
.page-taxonomy-term .region-content-inner article .field-name-field-graphic {
  float: left;
  padding: 0 10px 10px 0;
}

/* line 435, ../sass/global.scss */
.view-rotator h2 {
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 444, ../sass/global.scss */
.view-rotator h2 a:link, .view-rotator h2 a:visited {
  color: black;
}
/* line 449, ../sass/global.scss */
.view-rotator .widget_pager {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  text-align: center;
  width: 100%;
  z-index: 999;
}
/* line 458, ../sass/global.scss */
.view-rotator .widget_pager .views-slideshow-pager-field-item {
  float: left;
  text-indent: -10000px;
  background: url(../images/bullets.png) -11px 0;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}
/* line 468, ../sass/global.scss */
.view-rotator .widget_pager .active {
  float: left;
  text-indent: -10000px;
  background: url(../images/bullets.png) 0 0;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
}
/* line 477, ../sass/global.scss */
.view-rotator .widget_pager .views-content-counter:hover {
  background: url(../images/bullets.png) 0 0;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
