@import "compass/css3/images";
@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

@mixin bg-grad {
	border: 3px solid white;
	@include background-image(linear-gradient(left, #d7e7f2, white));
	@include border-radius(3px);
}

$green: #99cc33;

tr.even {
  background-color: transparent;
}

#slideshow-nav {
  z-index: 120;
  position: absolute;
  width: 100%;
  text-align: center;
}

table {
  width: 100%;
}

a {
	&:link { color: #336699; }
	&:visited { color: #336699; }
	&:hover { color: #99cc33; }
	&:active { color: #336699; }
}

p {
	padding-top: 5px;
	padding-bottom: 5px;
}

b {
	font-weight: bolder;
}

i {
	font-style: italic;
}

h1 {
	font-size: 24px;
	font-size: 2.4rem;
	line-height: 27px;
	line-height: 2.7rem;
	color: #6699cc;
	a { text-decoration: none; }
}

h2 { 
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 36px;
	line-height: 3.6rem;
	color: #336699;
	a { text-decoration: none; }
}

h3 {
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 16px;
	line-height: 1.6rem;
	color: #336699;
	a { text-decoration: none; }
}

/*
http://www.456bereastreet.com/archive/201105/styling_ordered_list_numbers/
*/
ol {
	counter-reset: li;
	margin-left: 0;
	padding-left: 0;
}

ol > li {
	position: relative;
	margin: 0 0 6px 1rem;
	padding: 4px 8px;
	list-style: none;
}

ol > li:before {
	content: counter(li)".";
	counter-increment: li;
	position: absolute;
	color: #336699;
	left: -1rem;
	width: 1rem
}

.contextual-links {
	z-index: 1000;
}

html {
	font-size: 62.5%;
	height: 100%;
}

body {
	/*
	background-image: url('../images/204.jpg');
	*/
	background-image: url('../images/bgoptions/2t.png');
	font-family: 'Open Sans',Verdana,Geneva,sans-serif;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 17px;
	line-height: 1.7rem;
	color: #666666;
	height: 100%;
}

.zone-menu-wrapper {
	font-weight: bold;
	background-image: url('../images/menu-bg.png');
	background-repeat: repeat-x;
}

#region-slogan {
	position: relative;
}

.block-block-5 {
	font-size: 13px;
	font-size: 1.3rem;
	text-align: center;
	line-height: 17px;
	line-height: 1.7 rem; 
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-bottom: 5px;
}


#region-menu, #region-search {
	padding-top: 10px;
}

.region-menu-secondary {
	height: 32px;
}

.block-menu-block-1, .block-menu-block-2 {
	ul {
		height: 30px;

		li {
			margin: 0;
			margin-left: -2px;
			height: 30px;
			padding: 0;
			list-style: none;
			float: left;
			&.last a {
				border: none;
			}
		
			a {
				display: block;
				float: left;
				margin-top: 5px;
				padding-left: 10px;
				padding-right: 10px;
				text-decoration: none;
				color: white;
			}
		}
	}
}
.block-menu-block-1 li {
	&.active-trail {
		@include border-radius(4px 4px 0 0);
		background-color: $green;
	}
	a {
		border-right: 2px solid $green;
		&:hover { 
			color: $green; 
		}
		&.active-trail {
			background-color: $green;
		}
	}
}
.block-menu-block-2 li {
	font-size: 10px;
	font-size: 1.0rem;
	font-weight: lighter;
	a {
		border-right: 1px solid white;
		&:hover {
			color: #003366;
		}
	}
}


.block-search input[type="text"] {
	background-image: url('../images/search.png');
	background-repeat: no-repeat;
	background-position: right center;
	width: 100%;
}
.block-search .form-actions {
	display:none;
}

.zone-preface,
.region-preface-sm-left-inner, 
.region-preface-long-right-inner {
	background-color: #598BC7;
	border-color: #CCE4A7;
	border-width: 6px;
	border-style: solid;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari and Chrome */
	border-radius: 6px; /* Opera 10.5+, future browsers, and now also Internet Explorer 6+ using IE-CSS3 */

	-moz-box-shadow: 0 0 2px 2px #FFF;
	-webkit-box-shadow: 0 0 2px 2px #FFF;
	box-shadow: 0 0 2px 2px #FFF;

	behavior: url(ie-css3.htc); /* This lets IE know to call the script on all elements which get the box class */
}

.container-12 .grid-8.region-preface-second {
	margin: 0;
	width: 640px;
}

.container-12 #region-preface-first {
	margin: 0;
	width: 320px;
}

.zone-footer,
.zone-preface,
.zone-branding {
	background-image: url('../images/swoosh.png');
	background-repeat: no-repeat;
	color: white;
}

.zone-branding {
	padding-top: 20px;
	height: 88px;
}

#page {
	min-height: 100%;
  position: relative;
}

#section-content {
	padding-bottom: 175px;
}

footer {
	position: absolute; 
	bottom: 0;
	height: 175px;
	width: 100%;
}

.zone-footer-wrapper,
.zone-branding-wrapper,
.zone-menu-wrapper {
	background-color: #598BC7;
	color: white;
}

.region-footer-first, .region-footer-second {
 	.block {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.zone-copyright-wrapper {
	background-color: $green;
	font-size: .75rem;
	text-align: center;
	margin-bottom: 0;
}


.section-content {
	margin-top: -5px;
}
.view-ministry-areas {
	.views-row-first {
		margin-left: 0;
	}
	.views-row-last {
		margin-last: 0;
	}
}

article.node-article,
article.node-second-level {
	margin-top: 10px;
	margin-bottom: 10px;
	h1 {
		width: 100%;
		padding-bottom: 10px;
		border-bottom: 1px solid;
	}
	.content .field-name-body {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.content-view .field {
		margin: 0px;
	}
	article {
		margin-top: 10px;
		margin-bottom: 10px;
		h2, .field-name-body {
			margin-left: 100px;
		}
	}
}

#region-preface-second{
/*	position: absolute;
	z-index: 100;
	background-color: #598BC7;
	right: 0;
	top: 0;
	height: 472px;
	margin-right: 0;
	padding: 10px;
	background-image: url('../images/swoosh.png');
	background-repeat: no-repeat;
	background-position: right top;
*/}

#region-page-top {
	margin: 0px;
}

.zone-content {
	aside .block, .region-content-inner {
		margin-bottom: 20px;
		@include bg-grad;
	
	}
	.region-content-inner {
		ol {
			list-style: decimal outside;
			padding-left: 20px;
		}
		ul {
			list-style: disc outside;
			padding-left: 20px;
		}
	}
			
	.view-staff-bio {
		.views-field-field-sq-image {
			float: left;
			padding-right: 10px;
		}
		.views-row {
			padding: 5px;
			@include clearfix;
		}
	}
	.block-inner, .group-header, .node-message-series h2 {
		padding: 0 10px 0 10px;
	}
	.group-header, .node-message-series h2 {
		margin: 0 -10px 0 -10px;
	}
	.views-field-field-graphic, .field-name-field-graphic {
		img {
			width: 100%;
			height: auto;
		}
		margin: 0 -10px 0 -10px;
	}
	.group-left, .group-right {
		max-width: 287px;
	}
}


.front {
	.region-content-inner {
		background-image: none;
                border: none;
                padding: 0;

		.views-row {
			float: left;
			width: 295px;
			height: 200px;
			margin: 0 10px 10px 0;
		}
	}
}
	
.page-taxonomy-term {
	.region-content-inner {
		background-image: none;
		border: none;
		padding: 0;

		article {
			float: left;
			width: 295px;
			height: 200px;
			margin: 0 10px 10px 0;

			.field-name-field-graphic {
				float: left;
				padding: 0 10px 10px 0;
			}
		}
	}
}

.view-rotator { 
  h2 {
    background-color: #ffffff;
    opacity:0.6;
    filter:alpha(opacity=60);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    a:link, a:visited {
      color: black;
    }
  }

  .widget_pager {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    text-align: center;
    width: 100%;
    z-index: 999;

    .views-slideshow-pager-field-item {
      float: left;
      text-indent: -10000px;
      background: url(../images/bullets.png) -11px 0;
      background-repeat: no-repeat;
      width:10px;
      height:10px;
      margin-right:5px;
    }

    .active {
      float: left;
      text-indent: -10000px;
      background: url(../images/bullets.png) 0 0;
      background-repeat: no-repeat;
      width:10px;
      height:10px;
    }

    .views-content-counter:hover {
      background: url(../images/bullets.png) 0 0;
      background-repeat: no-repeat;
      width:10px;
      height:10px;
      cursor: pointer;
    }  
  }
}  
	

